<!-- <footer>
    <div class="container">

            <h5 class="heading">Get In Touch</h5>
            <div  class="font-awesome" id="details">
                <span id="adress">
            <h4><strong>Address</strong></h4>
            <p>Weifield Group Contracting<br>
            6950 S.Jordan Road<br/>
            Centennial,CO 80112</p>
            </span>
            <span id="phone">
            <h4><strong>Phone</strong></h4>
            <p>987423156 <br/>
            980123457</p>
        </span>
        <span id="email">
            <h4><strong>Email</strong></h4>
            <p>abc@gmail.com<br/>
            2hot@gmail.com</p>
        </span>
            </div>
            <div class="email">
                <img src="../../assests/email.png">
            </div>
    
     



    </div>
</footer> -->
<div class="footerContainer">
  <div class="firstFooterContainer">
    <div >
      <div class="footerHeading">Company</div>
      <div class="footerContent">
        <i class="fa-solid fa-chevron-right"></i>About Us
      </div>
      <div class="footerContent">
        <i class="fa-solid fa-chevron-right"></i>Contact Us
      </div>
      <!-- <div class="footerContent">
        <i class="fa-solid fa-chevron-right"></i>Reservation
      </div> -->
      <div class="footerContent">
        <i class="fa-solid fa-chevron-right"></i>Privacy Policy
      </div>
      <div class="footerContent">
        <i class="fa-solid fa-chevron-right"></i>Terms & Condition
      </div>
    </div>
    <div>
      <div class="footerHeading">Contact</div>
      <div class="footerContent">
        <i class="fa-solid fa-location-dot"></i>12,Nehru Street,Chennai.
      </div>
      <div class="footerContent">
        <i class="fa-solid fa-phone-volume"></i>+012 345 678910
      </div>
      <div class="footerContent">
        <i class="fa-solid fa-envelope"></i>2hot@gmail.com
      </div>
      <div class="footerContent">
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-facebook-f"></i>
        <i class="fa-brands fa-youtube"></i>
        <i class="fa-brands fa-instagram"></i>
      </div>
    </div>
    <div>
      <div class="footerHeading">Opening</div>
      <div class="footerOpeningContent">Monday - Saturday</div>
      <div class="openingContent">
        <i class="fa-solid fa-clock"></i>09.00AM - 11.00PM
      </div>
      <div class="footerOpeningContent">Sunday</div>
      <div class="openingContent">
        <i class="fa-solid fa-clock"></i>09.00AM - 09.00PM
      </div>
    </div>
    <div>
      <div class="footerHeading">Newsletter</div>
      <div class="newsLetterContent">
        Dolor amet sit justo amet elitr clita ipsum elitr est.
      </div>
      <div class="newsLetterBox">
        Your Email <button class="signupButton">Sign Up</button>
      </div>
    </div>
  </div>
  <hr />
  <div class="footersFooter">
    <i class="fa-solid fa-copyright"></i> 2 Hot, All Rights Reserved. Designed
    by Html Codex
  </div>
</div>
