.container{
    position: absolute;

    width: 100%;
    margin-top: 25px;
    background-color:maroon;
    
    }
    
    .heading{
        font-size: 35px;
        padding-left: 650px;
        color:whitesmoke
    }
    #details{
        display: flex;
        padding-left: 459px;
        color:antiquewhite;
    
        

    }
    #adress,#phone,#email{
        padding-left: 45px;
        
        
    }
    h4{
        text-align: center;
    }
    .email{
        height:2px;
        width:2px
    }