<footer>
    <div class="container">

            <h5 class="heading">Get In Touch</h5>
            <div  class="font-awesome" id="details">
                <span id="adress">
            <h4><strong>Address</strong></h4>
            <p>Weifield Group Contracting<br>
            6950 S.Jordan Road<br/>
            Centennial,CO 80112</p>
            </span>
            <span id="phone">
            <h4><strong>Phone</strong></h4>
            <p>987423156 <br/>
            980123457</p>
        </span>
        <span id="email">
            <h4><strong>Email</strong></h4>
            <p>abc@gmail.com<br/>
            2hot@gmail.com</p>
        </span>
            </div>
            <div class="email">
                <img src="../../assests/email.png">
            </div>
    
     



    </div>
</footer>