<div class="homeImageContainer">
  <div class="textContainer">
    <i class="imgText">Enjoy Our Delicious Meal</i>
    <div class="imgParagraph">
      Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam
      amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit
      clita duo justo magna dolore erat amet Tempor erat elitr rebum at clita.
      Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum
      et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet
    </div>
  </div>
</div>

<div class="box-container">
  <div class="box">
    <i class="fa-solid fa-user-tie"></i>
    <div style="font-weight: bold; text-align: center">Master Chefs</div>
    <div>
      Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam
    </div>
  </div>
  <div class="box">
    <i class="fa-solid fa-utensils"></i>

    <div style="font-weight: bold; text-align: center">Quality Food</div>
    <div>
      Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam
    </div>
  </div>
  <div class="box">
    <i class="fa-sharp fa-solid fa-cart-shopping"></i>
    <div style="font-weight: bold; text-align: center">Online Order</div>
    <div>
      Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam
    </div>
  </div>
  <div class="box">
    <i class="fa-sharp fa-solid fa-headset"></i>
    <div style="font-weight: bold; text-align: center">24/7 service</div>
    <div>
      Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam
    </div>
  </div>
</div>

<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-5 align-items-center">
      <div class="col-lg-6">
        <div class="row g-3">
          <div class="col-6 text-start">
            <img
              class="img-fluid rounded wow restaurant1"
              style="
                visibility: visible;
                animation-delay: 0.1s;
                animation-name: fadeInUp;
              "
              data-wow-delay="0.1s"
              src="{{ restaurant1 }}"
            />
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <h5 class="aboutusText">About Us</h5>
        <h1 class="mb-4">
          Welcome to <i class="fa fa-utensils text-primary me-2"></i>Too Hot
        </h1>
        <p class="mb-4">
          Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu
          diam amet diam et eos erat ipsum et lorem et sit, sed stet lorem sit.
        </p>
        <p class="mb-4">
          Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu
          diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet
          lorem sit clita duo justo magna dolore erat amet
        </p>
        <div class="row g-4 mb-4">
          <div class="col-sm-6">
            <div
              class="d-flex align-items-center border-start border-5 border-primary px-3"
            >
              <h1
                class="flex-shrink-0 display-5 text-primary mb-0"
                data-toggle="counter-up"
              >
                15
              </h1>
              <div class="ps-4">
                <p class="mb-0">Years of</p>
                <h6 class="text-uppercase mb-0">Experience</h6>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div
              class="d-flex align-items-center border-start border-5 border-primary px-3"
            >
              <h1
                class="flex-shrink-0 display-5 text-primary mb-0"
                data-toggle="counter-up"
              >
                50
              </h1>
              <div class="ps-4">
                <p class="mb-0">Popular</p>
                <h6 class="text-uppercase mb-0">Master Chefs</h6>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div
              class="d-flex align-items-center border-start border-5 border-primary px-3"
            >
              <h1
                class="flex-shrink-0 display-5 text-primary mb-0"
                data-toggle="counter-up"
              >
                6
              </h1>
              <div class="ps-4">
                <p class="mb-0">Available</p>
                <h6 class="text-uppercase mb-0">Branches</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="buttonContainer">
          <a class="btn btn-primary py-3 px-5 mt-2 readmoreButton" href=""
            >Read More</a
          >
        </div>
      </div>
    </div>
  </div>
</div>


<div class="foodMenuContainer">
  <div class="foodMenuTextContainer">
    <div class="small-line"></div>
    <div class="foodMenuText">Food Menu</div>
    <div class="small-line"></div>
  </div>
  <div class="popularItems">Most Popular Items</div>
  <div class="foodMenuFooterContainer">
    <div class="breakfastContainer popular">
      <i class="fa-solid fa-mug-hot"></i>
      <div>
        <div class="grayAndSmall">Popular</div>
        <div class="boldClass">Breakfast</div>
      </div>
    </div>
    <div class="breakfastContainer special">
      <i class="fa-solid fa-burger"></i>
      <div>
        <div class="grayAndSmall">Special</div>
        <div class="boldClass">Launch</div>
      </div>
    </div>
    <div class="breakfastContainer lovely">
      <i class="fa-solid fa-apple-whole"></i>
      <div>
        <div class="grayAndSmall">Lovely</div>
        <div class="boldClass">Dinner</div>
      </div>
    </div>
  </div>
</div>

<div class="showItemsContainer">
  <div class="flexClass">
    <div>
      <img
        src="../../assets/breakfastimage1 (1).jpg"
        style="height: 100px; width: 100px"
      />
    </div>

    <div>
      <div>Hi</div>

      <div>Hsdnwq wendw</div>
    </div>

    <div>$10</div>
  </div>
  <div class="flexClass">
    <div>
      <img
        src="../../assets/breakfastimage1 (4).jpg"
        style="height: 100px; width: 100px"
      />
    </div>

    <div>
      <div>Hi</div>
      <div>Hsdnwq wendw</div>
    </div>
    <div>$10</div>
  </div>
  <div class="flexClass">
    <div>
      <img
        src="../../assets/breakfastimage1 (3).jpg"
        style="height: 100px; width: 100px"
      />
    </div>

    <div>
      <div>Hi</div>
      <div>Hsdnwq wendw</div>
    </div>
    <div>$10</div>
  </div>
  <div class="flexClass">
    <div>
      <img
        src="../../assets/breakfastimage1 (2).jpg"
        style="height: 100px; width: 100px"
      />
    </div>

    <div>
      <div>Hi</div>
      <div>Hsdnwq wendw</div>
    </div>
    <div>$10</div>
  </div>
</div>
