<div class="homeImageContainer">
  <div class="textContainer">
    <i class="imgText">Welcome to 2 hot to experience mouthful of 2oast</i>
    <div class="imgParagraph">
      <table>
        <tr>
          <td>2 hot to handle. 2 hot to eat. How are you gonna face it</td>
          <td></td>
        </tr>
        <tr>
          <td>Just 1 click, 2 choose, 3 open a door to get your hot food</td>
          <td></td>
        </tr>
        <tr>
          <td>Free delivery upto 1500 .</td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div class="box-container">
  <div class="box">
    <i class="fa-solid fa-user-tie"></i>
    <div class="boxTopic">Master Chefs</div>
    <div class="boxContent">
      Every food are cooked by a world class Chef who are achieved in higher
      rank. No worries about your food. Stayin' and enjoy your meal.
    </div>
  </div>
  <div class="box">
    <i class="fa-solid fa-utensils"></i>

    <div class="boxTopic">Quality Food</div>
    <div class="boxContent">
      We use imported fresh vegetable and products for cooking and serve your
      food in fine and high quality ceramic utensils.
    </div>
  </div>
  <div class="box">
    <i class="fa-sharp fa-solid fa-cart-shopping"></i>
    <div class="boxTopic">Online Order</div>
    <div class="boxContent">
      We provide 2 hot food with special delivery. Feeling hungry just a click
      you order will delivered 2 quick on your door step.
    </div>
  </div>
  <div class="box">
    <i class="fa-sharp fa-solid fa-headset"></i>
    <div class="boxTopic">24/7 service</div>
    <div class="boxContent">
      We will be available for 24x7 for your service. Anything you want,
      whenever you want food will be delivered 2 quick and 2 hot.
    </div>
  </div>
</div>

<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-5 align-items-center">
      <div class="col-lg-6">
        <div class="row g-3">
          <div class="col-6">
            <img
              class="img-fluid rounded wow restaurant1"
              style="
                visibility: visible;
                animation-delay: 0.1s;
                animation-name: fadeInUp;
              "
              data-wow-delay="0.1s"
              src="{{ restaurant1 }}"
            />
            <!-- <video width="550" height="450" controls>
              <source src="assets/aboutVideo.mp4" type="video/mp4" />
              Your browser does not support the video tag.
            </video> -->
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <h5 class="aboutusText">About Us</h5>
        <h1 class="mb-4">
          Welcome to <i class="fa fa-utensils text-primary me-2"></i>2 Hot
        </h1>
        <p class="mb-4">
          Welcome to 2 Hot, your one-stop destination for ordering the tastiest
          and hottest food in town!
        </p>
        <p class="mb-4">
          At 2 Hot, we are passionate about food and we believe that everyone
          deserves a delicious and satisfying meal. Whether you are in the mood
          for a spicy bowl of noodles, a juicy burger, or a cheesy pizza, we
          have got you covered.
        </p>
        <div class="row g-4 mb-4">
          <div class="col-sm-4">
            <div
              class="d-flex align-items-center border-start border-5 border-primary px-3"
            >
              <h1
                class="flex-shrink-0 display-5 text-primary mb-0"
                data-toggle="counter-up"
              >
                15
              </h1>
              <div class="ps-4">
                <p class="mb-0">Years of</p>
                <h6 class="text-uppercase mb-0">Experience</h6>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div
              class="d-flex align-items-center border-start border-5 border-primary px-3"
            >
              <h1
                class="flex-shrink-0 display-5 text-primary mb-0"
                data-toggle="counter-up"
              >
                50
              </h1>
              <div class="ps-4">
                <p class="mb-0">Popular</p>
                <h6 class="text-uppercase mb-0">Master Chefs</h6>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div
              class="d-flex align-items-center border-start border-5 border-primary px-3"
            >
              <h1
                class="flex-shrink-0 display-5 text-primary mb-0"
                data-toggle="counter-up"
              >
                6
              </h1>
              <div class="ps-4">
                <p class="mb-0">Available</p>
                <h6 class="text-uppercase mb-0">Branches</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="buttonContainer">
          <a class="btn btn-primary py-3 px-5 mt-2 readmoreButton" href=""
            >Read More</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

<div class="foodMenuContainer">
  <div class="foodMenuTextContainer">
    <div class="small-line"></div>
    <div class="foodMenuText">Food Menu</div>
    <div class="small-line"></div>
  </div>
  <div class="popularItems">Most Popular Items</div>
  <div class="foodMenuFooterContainer">
    <div class="breakfastContainer popular">
      <i class="fa-solid fa-mug-hot"></i>
      <div>
        <div class="grayAndSmall">Popular</div>
        <div class="boldClass">Breakfast</div>
      </div>
    </div>
    <div class="breakfastContainer special">
      <i class="fa-solid fa-burger"></i>
      <div>
        <div class="grayAndSmall">Special</div>
        <div class="boldClass">Launch</div>
      </div>
    </div>
    <div class="breakfastContainer lovely">
      <i class="fa-solid fa-apple-whole"></i>
      <div>
        <div class="grayAndSmall">Lovely</div>
        <div class="boldClass">Dinner</div>
      </div>
    </div>
  </div>
</div>

<div class="showItemsContainer">
  <div class="flexClass">
    <div>
      <img
        src="../../assets/breakfastimage1 (1).jpg"
        style="height: 100px; width: 100px"
      />
    </div>

    <div>
      <div>Hi</div>

      <div>Hsdnwq wendw</div>
    </div>

    <div>$10</div>
  </div>
  <div class="flexClass">
    <div>
      <img
        src="../../assets/breakfastimage1 (4).jpg"
        style="height: 100px; width: 100px"
      />
    </div>

    <div>
      <div>Hi</div>
      <div>Hsdnwq wendw</div>
    </div>
    <div>$10</div>
  </div>
  <div class="flexClass">
    <div>
      <img
        src="../../assets/breakfastimage1 (3).jpg"
        style="height: 100px; width: 100px"
      />
    </div>

    <div>
      <div>Hi</div>
      <div>Hsdnwq wendw</div>
    </div>
    <div>$10</div>
  </div>
  <div class="flexClass">
    <div>
      <img
        src="../../assets/breakfastimage1 (2).jpg"
        style="height: 100px; width: 100px"
      />
    </div>

    <div>
      <div>Hi</div>
      <div>Hsdnwq wendw</div>
    </div>
    <div>$10</div>
  </div>
</div>
