<div class="MainContainer">
    <div class="Container">
        <div class="Header">Contact Us!</div>
        <hr>
        <div class="ContactText">
            We would love to hear from you! At 2 Hot, we are always here to answer any questions you may have, listen to your feedback, and help you with anything you need.
You can reach us in a variety of ways:
        </div>
        <div class="Contact">
            <div class="Email">
                <div class="EmailPty">Email Id</div>
                <div class="EmailText">Send us an email at support@2hot.com and we will get back to you as soon as possible.</div>
            </div>
            <div class="Phone">
                <div class="PhonePty">Phone Number</div>
                <div class="PhoneText">Give us a call at (555) 123-4567 and one of our friendly representatives will be happy to assist you.</div>
            </div>
            <div class="SocialMedia">
                <div class="SocialMediaPty">Social media</div>
                <div class="SocialMediaText">Follow us on Instagram, Twitter, and Facebook to stay up-to-date on our latest promotions, new menu items, and more. You can also send us a message through our social media pages.</div>
                <div class="SocialMediaIcon">
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-youtube"></i>
                    <i class="fa-brands fa-instagram"></i>

                </div>
            </div>
        </div>
    </div>

    <div class="Image">
        <img src="\assets\contact-us.png" alt="">
    </div>

</div>