
input {
  width: 250px;
  border-radius: 25px;
}
label {
  font-size: 15px;
  font-family: sans-serif;
  font-weight: bold;
}
.container {
  background-image: url("../../assets/register.png");
  background-size: cover;
  -webkit-background-size: cover;
  width: 100%;
}
.register-form {
  padding-left: 70%;
  margin: 2px;
}
button {
  width: 250px;
  font-size: 25px;
  border-radius: 25px;
}

form {
  padding-top: 89px;
  padding-bottom: 89px;
}
.body {
  background-color: beige;
}
p {
  margin: 9px 17px 10px;

}
