<div class="body">
  <div class="container">
    <div class="register-form">
      <form [formGroup]="regForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="username">Username</label><br />
          <input type="text" formControlName="username" class="form-control" />

          <div
            *ngIf="username.errors?.['required'] &&( username.touched || username.dirty)"
            class="text-danger size"
          >
            User Name is required
          </div>
          <div
            *ngIf="username.errors?.['pattern'] &&( username.touched || username.dirty)"
            class="text-danger size"
          >
            Name should start with alphabet
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email</label><br />
          <input type="email" formControlName="email" class="form-control" />

          <div
            *ngIf="email.errors?.['required'] && ( email.touched || email.dirty)"
            class="text-danger size"
          >
            Email is required
          </div>
          <div
            *ngIf="email.errors?.['email'] && ( email.touched || email.dirty)"
            class="text-danger size"
          >
            Email should be valid
          </div>
        </div>
        <div class="form-group">
          <label for="phone">Phone Number</label><br />
          <input type="text" formControlName="phone" class="form-control" />

          <div
            *ngIf="mobile.errors?.['required']&& ( mobile.touched || mobile.dirty)"
            class="text-danger size"
          >
            Phone number is required
          </div>
          <div
            *ngIf="mobile.errors?.['pattern']&& ( mobile.touched || mobile.dirty)"
            class="text-danger size"
          >
            Number is Invalid
          </div>

          <div
            class="text-danger size"
            *ngIf="mobile.errors?.['minlength']&& ( mobile.touched || mobile.dirty)"
          >
            Number is short
          </div>
          <div
            *ngIf="mobile.errors?.['maxlength']&& ( mobile.touched || mobile.dirty)"
            class="text-danger size"
          >
            Number is Long
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label><br />
          <input
            type="password"
            formControlName="password"
            class="form-control"
          />

          <div
            *ngIf="pwd.errors?.['required']&& ( pwd.touched || pwd.dirty)"
            class="text-danger size"
          >
            Pasword is required
          </div>
          <div
            *ngIf="pwd.errors?.['pattern']&& ( pwd.touched || pwd.dirty)"
            class="text-danger size"
          >
            Password should be valid
          </div>
          <div
            *ngIf="pwd.errors?.['minlength'] ||pwd.errors?.['maxlength'] && ( pwd.touched || pwd.dirty)"
            class="text-danger size"
          >
            Password should be atleast 8 and maximum 12 chars
          </div>
        </div>
        <div class="form-group">
          <label for="retypePassword">Re-Type Password</label><br />
          <input
            type="retypePassword"
            formControlName="retypePassword"
            class="form-control"
          />

          <div
            *ngIf="cpwd.errors?.['required'] && (cpwd.touched || cpwd.dirty)"
            class="text-danger size"
          >
            re-Type pasword is required
          </div>
          <div [ngStyle]="{ display: repeatPass }" class="text-danger size">
            Password doesn't match.
          </div>
        </div>
        <br />

        <button
          type="submit"
          class="btn btn-success"
          [disabled]="regForm.invalid"
        >
          Register
        </button>
        <div class="text-success padding">{{ successMessage }}</div>
        <p>Already have an Account?<a [routerLink]="['/Login']">Sign In</a></p>
      </form>
    </div>
  </div>
</div>
