.container{
    
    height: 200%;
    background-repeat:no-repeat;
    background-size: cover;
}
.payment{
    padding-top: 45px;
    padding-bottom: 45px;
}
form{
    padding-top: 45px;
    padding-bottom: 45px;
    padding-left: 145px;
    background-color: aliceblue;
    margin-left: 25px;
    margin-right: 500px;
    box-shadow: 3px 12px 18px 5px rgb(36, 34, 34);
}
#address{
    height:163px;
}
.form-control{
    width: 61%;
    border-radius: 20px;
   
}
button{
    border-radius: 20px;
}