<div class="MainContainer">
    <div class="Header">Terms and Condition </div>
    <div class="TermsAndCondition">
    <div class="Container">
        <div *ngFor="let x of getText" class="Conditions">
            <div><li>{{x.text}}</li></div>
        </div>
    </div>
    <div class="Image">
        <img src="\assets\terms-and-condition.jpg" alt="Image" class="Img" width="400px" height="400px">
        <img src="\assets\suitMan.png" alt="Image" class="Img" width="500px" height="400px">

    </div>
</div>
</div>